<html lang="en">

<head>
    <title>Echo Lab</title>
</head>

<body>
    <h1>EchoLab Overview</h1>
    <!-- <pre><%= JSON.stringify(data, null, 2) %></pre> -->
    <h2>Figures</h2>
    <ul>
    <% data.figures.forEach(figure => { %>
        <li><a href="/figures/<%=figure.id %>"><%= figure.name %></a> - <%= figure.lifespan %></li>
    <% }); %>
    </ul>

    <h2>Titles</h2>
    <ul>
    <% data.titles.forEach(title => { %>
        <li><a href="/titles/<%=title.id %>"><%= title.title %></a> - <%= title.type%></li>
    <% }); %>
    </ul>

    <h2>Concepts</h2>
    <ul>
    <% data.concepts.forEach(concept => { %>
        <li><a href="/concepts/<%=concept.id %>"><%= concept.term %></a> - <%= concept.definition %></li>
    <% }); %>
    </ul>
    
    <h2>Movements</h2>
    <ul>
    <% data.movements.forEach(movement => { %>
        <li><a href="/movements/<%=movement.id %>"><%= movement.name %></a> - <%= movement.description %></li>
    <% }); %>
    </ul>

</body>



</html>